@model Socializer.Models.ViewModels.HomeViewModel
@{
    ViewBag.Title = "SocialFeed";
}

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-group-lg", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Post a new status.</h4>
                        <hr />

                        <div class="form-group">
                            <div class="col-lg-12">
                                @Html.TextAreaFor(m => m.Post.Caption, new { @class = "form-control", @style = "max-width:100%;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Post Picture
                            </label>
                            <div class="col-md-10">
                                <input title="Upload a Post Picture"
                                       type="file" name="file" accept=".jpg,.png" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label"> 
                                @Html.CheckBoxFor(m => m.Post.IsPrivate) Private </label>
                        </div>

                        <div class="form-group">
                            <div>
                                <input type="submit" class="btn btn-primary pull-right" value="Post" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content text-center">

                    <h3 class="m-b-xxs">News Feed</h3>

                </div>


                @foreach (var post in Model.PostsFromAll)
                {
                    <div class="social-feed-box">

                        <div class="pull-right social-action dropdown">
                            <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu m-t-xs">
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                        <div class="social-avatar">
                            <a href="" class="pull-left">
                                <img class="img-circle" alt="image" src="@post.PostOwner.ProfilePicURL" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <a href="@Url.Action("ShowProfile","SUser",new { id = post.PostOwner.Id })" >
                                    @post.PostOwner.FullName
                                </a>
                                <small class="text-muted">@post.DatePosted</small>
                            </div>
                        </div>
                        <div class="social-body">
                            <p>
                                @post.Caption
                            </p>

                            @if(post.ImageURL != null)
                            {
                                <img class="img-responsive" src="@post.ImageURL" width="400" height="400" />
                            }
                            <div class="btn-group">
                                <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like!</button>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>
