@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
@using Socializer.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/plugins/toastrStyles")
    @Scripts.Render("~/bundles/modernizr")

</head>


@if (Request.IsAuthenticated)
{
    ApplicationUserManager userManager = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
    SUser currentUser = userManager.FindById(User.Identity.GetUserId());

}

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:darkblue;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Socializer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Friends", "FriendList", "Friend")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                @*@Html.Partial("_TopNavbar")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Socializer</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/toastr")
    <script type="text/javascript">

        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "positionClass": "toast-bottom-left",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            var checkForNotif = function()
            {
                $.get("/api" + "@Url.Action("Get", "NotificationAPI")" + "?userId=" + "@User.Identity.GetUserId()", function (data) {
                    console.log("hellooo");
                    if (data != "Not Found") {
                        toastr.info(data, "Notification");
                    }
                });
            }

            setInterval(checkForNotif, 1000);

        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
