@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
@using Socializer.Models;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        ApplicationUserManager userManager = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
        SUser currentUser = userManager.FindById(User.Identity.GetUserId());
        Socializer.DAL.SocializerContext db = new Socializer.DAL.SocializerContext();
        List<FriendRequest> fr = db.FriendRequests.Where(f => f.ReceiverID == currentUser.Id).ToList();
        List<Notification> notif = currentUser.Notifications.OrderByDescending(n => n.DateIssued).ToList();
        int NotSeenCount = fr.Count(f => f.IsSeen == false);

    <ul class="nav navbar-top-links navbar-right">
        <li>
             <img class="img-circle" src="@currentUser.ProfilePicURL" height="50" width="50" />
        </li>
        <li>
            @Html.ActionLink("Hello " + currentUser.FirstName + "!", "ShowProfile", "SUser", routeValues: new { id = currentUser.Id }, htmlAttributes: new { title = "Manage" })
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <img src="~/Images/Friend.png" height="25" width="25">  <span class="label label-primary">@NotSeenCount</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                @for(var i = 0;i < Math.Min(fr.Count,10);i++)
                {
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="@fr[i].Sender.ProfilePicURL" width="50" height="50">
                            </a>
                            <div class="media-body ">
                                <strong>@fr[i].Sender.FullName</strong> sent you a friend request.
                            </div>
                        </div>
                    </li>
                }
                

                <li>
                    <div class="text-center link-block">
                        <a href="@Url.Action("FriendRequestList","FriendRequest")">
                            <strong>See All Friend Requests</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <img src="~/Images/Notif.png" height="25" width="25">  <span class="label label-warning">@notif.Count</span>
            </a>
            <ul class="dropdown-menu dropdown-messages ">
                
            @for (var i = 0; i < Math.Min(notif.Count, 10); i++)
            {
                <li>
                    <div class="dropdown-messages-box">
                        <a href="" class="pull-left">
                            <img alt="image" class="img-circle" src="@notif[i].Sender.ProfilePicURL">
                        </a>
                        <div class="media-body">
                            <strong>@notif[i].Sender.FullName</strong> 
                            @if (notif[i].Type == NotificiationTypes.FriendRequest)
                            {
                                <text> sent you a friend request </text>
                            }
                            else{
                                <text> liked your post "@notif[i].Post.Caption" </text>
                            }. <br>
                            <small class="text-muted">@notif[i].DateIssued</small>
                        </div>
                    </div>
                </li>
            }

                <li>
                    <div class="text-center link-block">
                        <a href="@Url.Action("NotificationList","Notification")">
                            <strong>See All Notifications</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>

            </ul>
        </li>
        
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }

    using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-form-custom" }))
    {
        <div class="form-group">
            <input type="text" placeholder="Search for something..." class="form-control" name="query" id="top-search">
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
