@model Socializer.Models.ViewModels.ProfileViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = Model.User.FullName;
}


<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile Detail</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding" style="text-align:center;">
                        <img alt="image" class="img-circle" src="@Model.User.ProfilePicURL" height="200" width="200">
                    </div>
                    <div class="ibox-content profile-content" style="text-align:center;">
                        <h4><strong>@Model.User.FullName</strong></h4>

                        @if (Model.IsLoggedUser || Model.IsFriend)
                        {
                            <p>
                                @Model.User.AboutMe
                            </p>
                        }


                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.User.Email)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.User.Email)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.User.Gender)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.User.Gender)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.User.HomeTown)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.User.HomeTown.Name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.User.MaritalStatus)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.User.MaritalStatus)
                                </dd>
                                <dt>
                                    Phone Number
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.User.PhoneNumber)
                                </dd>

                                @if (Model.IsFriend || Model.IsLoggedUser)
                                {
                                    <dt>
                                        @Html.DisplayNameFor(model => model.User.BirthDate)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.User.BirthDate)
                                    </dd>
                                }
                            </dl>
                        </div>

                        <div class="row m-t-lg">
                            <div class="col-md-4">
                                <h5><strong>@Model.User.Posts.Count</strong> Posts</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>@Model.User.Friends.Count</strong> Friends</h5>
                            </div>
                        </div>
                        <div class="user-button">
                            <div class="row">
                                @if(Model.IsLoggedUser)
                                {
                                    <div class="col-md-6">
                                        <button id="Edit" type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Edit Profile </button>
                                    </div>
                                }
                                @if(Model.IsPendingFriendRequest)
                                {
                                    <div class="col-md-6">
                                        <button type="button" disabled class="btn btn-primary btn-sm btn-block"><i class="fa fa-coffee"></i> Friend Request Sent </button>
                                    </div>
                                }
                                else if (Model.IsWaitingForResponse)
                                {
                                    <div class="col-md-6">
                                        <button id="Reject" type="button" class="btn btn-default btn-sm btn-block">
                                            <i class="fa fa-coffee"></i> Reject Friend Request
                                        </button>
                                    </div>

                                    <div class="col-md-6">
                                        <button id="Accept" type="button" class="btn btn-primary btn-sm btn-block">
                                        <i class="fa fa-coffee"></i> Accept Friend Request </button>
                                    </div>
                                }
                                else if (!Model.IsFriend && !Model.IsLoggedUser)
                                {
                                    <div class="col-md-6">
                                        <button id="AddFriend" type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-coffee"></i> Add Friend </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content text-center">

                    <h3 class="m-b-xxs">User Activites</h3>

                </div>
                <div class="feed-activity-list">

                    @foreach (var post in Model.Posts)
                    {
                        if (post.IsPrivate && (!Model.IsFriend && !Model.IsLoggedUser))
                        {
                            continue;
                        }

                        <div class="social-feed-box">

                            <div class="pull-right social-action dropdown">
                                <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu m-t-xs">
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </div>
                            <div class="social-avatar">
                                <a href="" class="pull-left">
                                    <img class="img-circle" alt="image" src="@post.PostOwner.ProfilePicURL" width="50" height="50">
                                </a>
                                <div class="media-body">
                                    <a href="#">
                                        @post.PostOwner.FullName
                                    </a>
                                    <small class="text-muted">@post.DatePosted</small>
                                </div>
                            </div>
                            <div class="social-body">
                                <p>
                                    @post.Caption
                                </p>

                                @if (post.ImageURL != null)
                                {
                                    <img class="img-responsive" src="@post.ImageURL" width="400" height="400" />
                                }
                                <div class="btn-group">
                                    <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like!</button>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>



                </div>
            </div>

        </div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#Edit').click(function () {
                window.location = "@Url.Action("Edit", "SUser")"
            });

            $("#Accept").click(function () {
                window.location = "@Url.Action("AcceptFriendRequest", "Friend")" + "?id1=" + "@User.Identity.GetUserId()" + "&id2=" + "@Model.User.Id";
            });

            $("#Reject").click(function () {
                window.location = "@Url.Action("RejectFriendRequest", "Friend")" + "?id1=" + "@User.Identity.GetUserId()" + "&id2=" + "@Model.User.Id";
            });

            $('#AddFriend').click(function () {
                $.get("/api" + "@Url.Action("Get", "FriendRequestAPI")" + "?id1=" + "@User.Identity.GetUserId()" + "&id2=" + "@Model.User.Id", function (data) {
                    $('#AddFriend').attr("disabled", true);
                    $('#AddFriend').html("Friend Request Sent !");
                });
            });
        });

    </script>
}
